 
body{
	background: #ccc;
}

.strong   { color: green; border-color: #0F0;}
.medium   { color: orange; border-color: #FC0;}
.weak     { color: red; border-color: #F00;}
.strength { padding: 1px 10px; border: 2px solid; color: #FFF;}
